.headerbar,
.desktop-headerbar-left-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop-headerbar-right-content {
    padding-right: 2rem;
}

.headerbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(46, 44, 44) 100%);
    padding: 2rem;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.5);
}

.headerbar-logo {
    width: 7rem;
    height: auto;
    margin-right: 0.5rem;
}

.link {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    padding: 0 1.3rem 1rem;
    transition: all 0.3s ease-in-out;
}

.link:hover {
    border-bottom: 4px solid rgb(0, 216, 255);
    transition: all 0.3s ease-out;
}

.link.active {
    color: rgb(0, 216, 255);
    transition: all 0.2s ease-in;
}

.mobile-headerbar {
    display: none;
}

@media (max-width: 768px) {

    .desktop-headerbar-links,
    .desktop-headerbar-right-content {
        display: none;
    }

    .mobile-headerbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-hamburger-toggle {
        background: none;
        border: none;
        color: white;
    }

    .hamburger-icon {
        width: 3rem;
        height: 3rem;
    }

    .mobile-headerbar-links {
        position: fixed;
        top: 0;
        right: -600px;
        height: 100vh;
        width: 11rem;
        padding: 2rem 1rem 1rem 1rem;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        transition: right 0.3s ease-in-out;
        background-color: #1a1a1a;
        text-decoration: none;
        color: #ffffff;
        font-size: 1.3rem;
        transition: all 0.3s ease-in-out;
    }

    .mobile-headerbar-links.open {
        right: 0;
    }
    .mobile-link {
        font-size: 1.15rem;
        padding: 0 1rem 0.2rem;
        border-bottom: 4px solid transparent;
        transition: border-bottom-color 0.3s ease-out;
        margin-bottom: 0.7rem;
    }
    .mobile-link:hover {
        border-bottom: 4px solid rgb(0, 216, 255);
    }
}